version: "3.9"

services:
  api:
    build: ./api
    environment:
      # Issuer OIDC officiel de Keycloak (VM externe)
      OIDC_ISSUER: https://auth.ktech.sn:8443/realms/pme
    ports:
      - "8000:8000"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: pmedb
      POSTGRES_USER: pme
      POSTGRES_PASSWORD: pme123

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
