apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: cyber-devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: pmedb
        - name: POSTGRES_USER
          value: pme
        - name: POSTGRES_PASSWORD
          value: pme123
